table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
  }

.radio {
    margin-top: .5rem;
}

.radio-row {
    padding-right: 15px;
    padding-left: 15px;
}

.sort-title {
    margin-right: 10px;
}

.sort-button {
    margin-left: 10px;
    height: 40%;
}

.vehicle-input {
    height: 30px;
}